.menu a{
    padding: 3px;
    background-color: black;
    color: white;
    display: block;
}

.menu a.active{
    color:black;
    background-color: white;
}

.menu{
    font-weight:bold;    
}

.pic{
    width:60%;
}

